.a {
  background-image: url("night.jpg");
  background-size: 400px;
  padding-top: 20px;
}
.b {
  background-image: url("day.jpg");
  background-size: 1319px;
  padding-top: 20px;
}
img.main-icon {
  margin: 10px auto -6px auto;
  width: 60%;
}
ul {
  list-style-type: none;
}
.decorating {
  font-family: "Quicksand", sans-serif;

  border-radius: 20px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255, 0.5);
}
.city-input {
  border-radius: 5px;
  border: 1px solid #ced4da;
  background: none;
}
.submiting {
  margin: 0px 0px 0px -11px;
}
.btn.btn-secondary {
  padding: 6px 7px 6px 0px;
}
.city-name {
  font-size: 50px;
  font-weight: 700;
  color: rgb(66, 65, 65);
  text-transform: capitalize;
  margin: 50px 0 15px 13px;
}
.icon-description {
  text-align: center;
  border-radius: 90px;
  background-color: hsla(218, 31%, 65%, 0.6);
}
.temp {
  text-align: center;
}
.number-degrees {
  font-size: 55px;
  font-weight: 500;
  color: rgb(66, 65, 65);
  line-height: 135px;
}
.time {
  font-size: 15px;
  font-weight: 400;
  color: rgb(66, 65, 65);
  margin: 5px 230px 0px 4px;
  line-height: 15px;
}
.description {
  font-size: 18px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 500;
}
.another-condition {
  padding-bottom: 22px;
  padding-left: 10px;
  margin: -22px 0px 0px 6px;
  font-size: 17px;
  line-height: 25px;
}
.description::first-letter {
  text-transform: capitalize;
}
.temp-by-days {
  font-size: 30px;
  padding: 12px 12px;
  margin-top: 33px;
  font-weight: 500;
  color: rgb(66, 65, 65);
}

.degrees {
  font-size: 19px;
}

.github-link {
  color: #ffffff;
}
.daily-forecast {
  text-align: center;
  margin-top: 45px;
  font-size: 20px;
  font-weight: bold;
}
.temperature-max-min {
  font-size: 15px;
  line-height: 40px;
}
.temp-icon {
  width: 100%;
}
.temp-celsius {
  font-size: 30px;
}
.celsius {
  position: relative;
  bottom: 18px;
}
