img {
  margin: 10px auto -6px auto;
  width: 60%;
}
ul {
  list-style-type: none;
}
.decorating {
  font-family: "Quicksand", sans-serif;
  border: 1px solid rgb(46, 47, 48, 0.5);
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
}
.city-input {
  border-radius: 5px;
  border: 1px solid #ced4da;
  background: none;
}
.submiting {
  margin: 0px 0px 0px -11px;
}
.current-button {
  border: 3px solid #aeb2b0;
  border-radius: 5px;
  color: #6d7074;
  padding: 4px;
}
.city-name {
  font-size: 50px;
  font-weight: 700;
  color: rgb(66, 65, 65);
  text-transform: capitalize;
  margin: 50px 0 15px 13px;
}
.icon-description {
  text-align: center;
  border: 0 solid;
  border-radius: 90px;
  background-color: rgb(219, 216, 227, 0.6);
}
.temp {
  text-align: center;
}
.units {
  position: relative;
  bottom: 27px;
}
.number-degrees {
  font-size: 55px;
  font-weight: 500;
  color: rgb(66, 65, 65);
  line-height: 135px;
}
.time {
  font-size: 15px;
  font-weight: 400;
  color: rgb(66, 65, 65);
  margin: 5px 230px 0px 4px;
  line-height: 15px;
}
.description {
  font-size: 18px;
  text-align: center;
}
.active {
  text-decoration: none;
  color: rgb(66, 65, 65);
}
.another-condition {
  padding-bottom: 22px;
  padding-left: 10px;
  margin: -22px 0px 0px 6px;
  font-size: 17px;
  line-height: 25px;
}
.description::first-letter {
  text-transform: capitalize;
}
.temp-by-days {
  font-size: 30px;
  padding: 12px 12px;
  margin-top: 33px;
  font-weight: 500;
  color: rgb(66, 65, 65);
}
.sun-icon {
  font-size: 50px;
  padding: 25px 0px;
  color: orange;
}
.degrees {
  font-size: 19px;
}
.sun-icon-need {
  font-size: 50px;
  padding: 25px 0px;
  color: orange;
  position: relative;
  bottom: 0px;
  right: -8px;
}
.githubLink {
  display: block;
  text-align: center;
}
